@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.pks{
    width: 100%;
    border: 1px solid #ccc;
    max-width: 21cm;
    max-height: 29cm;
    margin: auto;
    padding: 1cm 1cm 1cm 1cm;
    background-color: white
}

.sks{
    width: 20cm;
    height: 3.5cm;
    display: grid;
    grid-template-columns: 11cm 8cm;
}

.li{
    width: 1.8cm;
    margin-top: 5px;
}

.js{
    width: 19cm;
    height: 24cm;
}

.pl{
    height: 2cm;
}

.sl{
    text-align: center;
}

.lk{
    display: grid;
    grid-template-columns: 2cm auto;
}

.pa{
    padding-top: 5px;
    padding-left: 20px;
    font-size: 11px;
    letter-spacing: 1px;
}

.tl{
    font-weight: bold;
    font-size: 10px;
}

.s-sk{
    height: 0.6cm;
    padding-top: 1.5px;
}

.w-sk{
    background-color: red;
}

.w-t{
    background-color: green;
}

.w-sk, .w-t{
    text-align: center;
    color: white;
}

.wk{
    font-size: 11px;
    letter-spacing: .2px;
    font-weight: bold;
    text-align: center;
    padding-right: 3px;
    padding-top: 5px;
}

.ws{
    font-size: 50px;
    font-weight: bold;
    color: red;
    margin-top: -10px;
    letter-spacing: 3px;
    padding-left: 3px;
}

.wi{
    color: blue;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 10px;
    margin-top: -5.5px;
    padding-left: 10px;
}
.wc{
    color: green;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 5.5px;
    margin-top: -7px;
    padding-left: 10px;
}

.wi, .wc{
    padding-left: 10px;
    text-align: left;
    font-weight: bold;
}

.ssi{
    display: grid;
    grid-template-columns: 5.5cm auto;
    display: pinkz;
    margin-top: 8px;
}

.js1{
    text-align: center;
    margin: 15px 0 0 0;
    font-size: 16pt;
    letter-spacing: 5px;
    text-decoration: underline;
}

.ns{
    text-align: center;
    font-size: 10pt;
    margin-top: 5px;
}